@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poopins", sans-serif;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 260px;
    background: linear-gradient(to left,rgb(161, 179, 216),rgb(127, 172, 215));
    padding: 15px;
}
.logo{
    font-size: 25px;
    padding: 0 15px;
}
.sidebar a{
    color: #fff;
    text-decoration: none;
}
.menu-content{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow: scroll;
}
.menu-content::-webkit-scrollbar{
    display: none;
}
.menu-item{
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}
.submenu-active .menu-item{
    transform: translateX(-56%);
}
.menu-title{
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}
.item a, .submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}
.item{
    margin-left: 20px;
}
.item i{
    font-size: 12px;
}
.item a:hover, .submenu-item:hover, .submenu .menu-title:hover {
    background: rgba(255,255,255,0.1);
}
.submenu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.submenu{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: linear-gradient(to left,rgb(161, 179, 216),rgb(127, 172, 215));
    display: none;
}
.show-submenu ~ .submenu{
    display: block;
}
.submenu .menu-title{
    border-radius: 12px;
    cursor: pointer;
}
.submenu .menu-title i{
    margin-right: 10px;
}
.navbar, .main{
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main{
    left: 0;
    width: 100%;
}
.navbar{
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: linear-gradient(to left,rgb(127, 172, 215),rgb(161, 179, 216));
    cursor: pointer;
}
.navbar #sidebar-close{
    cursor: pointer;
}
.main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    background: #fff;
    background-size: cover;
}
iframe {
    width: 100%;
    height: 100%;
  }
