header{
    display: flex;
}
.Mainbar {
    display: flex;
    margin-left: 5px;
    margin-top: 40px;
 }
 
 .Mainbar li {
     display: inline-block;
     margin-right: 10px; 
 }

 .Catagories_text {
    text-align: center;
    margin-top: 80px;
 }
 .catagories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 0px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 90px;
    align-items: center;
    cursor: pointer;


 }

 .Courses_section{
    background: url(../Media/pexels-alexander-grey-5839474.jpg);
    background-size: cover;
    background-position: center;
   
 }

 .Courses_text {
    text-align: center;
    padding-top: 100px;
 }
 .AllCourses{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;

 }
 .course_container {
    background-color: aliceblue;

    border-radius: 20px;
    box-shadow: 0px 15px 40px rgb(19 8 73 / 13%);
    transition: all .40s ease;
    width: fit-content; 
    margin: 0.5rem;
   

 }
 .course_info{
    padding: 35px 20px;
 }
 .course_container > img{
   height: 250px;
    width: 320px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    
 }

 


 .course_container:hover {
    transform: translateY(-15px);
 }



 
 /*complate design  later*/


@media (max-width: 768px) {
   .Mainbar {
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
   }

   .Mainbar li {
       margin-right: 0;
       margin-bottom: 10px;
   }

   .catagories {
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       gap: 20px;
       margin-top: 80px;
       margin-bottom: 80px;
   }

   .course_container {
       width: 100%;
       max-width: 220px; 
   }

   .course_container > img {
       height: 150px; 
   }

   .course_info {
       padding: 15px; 
   }

   .catagories img {
       width: 100px; 
       height: 100px; 
   }

   .course_container > img {
      height: 130px; 
      width: 100%; 
      border-radius: 15px 15px 0px 0px;
  }
}


@media (max-width: 576px) {
   .Mainbar {
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
   }

   .Mainbar li {
       margin-right: 0;
       margin-bottom: 10px;
   }

   .catagories {
       grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
       gap: 10px;
       margin-top: 40px;
       margin-bottom: 40px;
   }

   .course_container {
       width: 100%;
       max-width: 150px; 
   }

   .course_container > img {
       height: 100px; 
       width: 100%;
       border-radius: 15px 15px 0px 0px;
   }

   .course_info {
       padding: 10px; 
   }
   .catagories img {
      width: 60px; 
      height: 60px; 
  }
}


*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
   font-family: 'Baloo',cursive;
}
nav{
   background: linear-gradient(to left,#F89B9E,#C9D9FF);
   padding: 5px 20px;
   font-weight: bold;
}
ul{
   list-style-type: none;
}
a{
   color: white;
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}
.menu li{
   font-size:16px;
   padding: 15px 5px;
}
.menu li a{
   display: block;
}
.logo a{
   font-size: 20px;
}
.button.secondary{
   border-bottom: 1px #444 solid;
}
.menu{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.toggle{
   order:1;
}
.item.button{
   order:2;
}
.item{
   width: 100%;
   text-align: center;
   order: 3;
   display: none;
}
.item.active{
   display: block;
}
.toggle{
   cursor:pointer;
}
.bars{
   background: #999;
   display: inline-block;
   height:2px;
   position: relative;
   width: 18px;
}
.bars::before,.bars::after{
   background: #999;
   content: "";
   display: inline-block;
   height:2px;
   position: absolute;
   width: 18px;    
}
.bars::before{
   top:5px
}
.bars::after{
   top: -5px;
}
@media  all and (min-width:468px){
   .menu{
       justify-content: center;
   }
   .logo{
       flex: 1;
   }
   .item.button{
       width: auto;
       order:1;
       display: block;
   }
   .toggle{
       order: 2;
   }
   .button.secondary{
       border: 0;
   }
   .button a{
       text-decoration: none;
       padding: 7px 15px;
       background: #c9d9ffd0;
       border: 1px solid #C9D9FF;
       border-radius: 50em;
   }
   .button.secondary a{
       background: transparent;
   }
   .button a:hover{
       transition: all .25s;
   }
   .button:not(.secondary) a:hover{
       background: #c9d9ffd0;
       border-color: #C9D9FF;
   }
   .button.secondary a:hover{
       color: #ddd;
   }
}

footer{
   background:linear-gradient(to left,#F89B9E,#C9D9FF);
   font-weight: bold;
}
.footerContainer{
   width: 100%;
   padding: 70px 30px 20px;
}
.socialIcon{
   display: flex;
   justify-content: center;
}
.socialIcon a{
   text-decoration: none;
   padding: 10px;
   background-color: white;
   margin: 10px;
   border-radius: 50px;
}
.socialIcon a i{
   font-size: 2em;
   color: black;
   opacity: 0.9;
}
.socialIcon a:hover{
   background-color: #111;
   transition: 0.5s;
}
.socialIcon a:hover i{
   color: white;
   transition: 0.5s;
}
.footerNav{
   margin: 30px 0;
} 
.footerNav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
}
.footerNav ul li a{
   color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   opacity: 0.7;
   transition: 0.5s;
}
.footerNav ul li a:hover{
   opacity: 1;
}

@media all and (min-width: 768px){

   .item{
       display: block;
       width: auto;
   }
   .toggle{
       display: none;
   }
   .logo{
       order: 0;
   }
   .item{
       order: 1;
   }
   .button{
       order: 2;
   }
   .menu li{
       padding: 15px 10px;
   }
   .menu li.button{
       padding-right: 0;
   }
}
@media (max-width: 700px){
   .footerNav ul{
       flex-direction: column;
   }
   .footerNav ul li{
       width: 100%;
       text-align: center;
       margin: 10px;
   }
   .socialIcon a{
       padding: 5px;
       margin:5px;}
}